version: '3.3'
services:
  agent_UnityServer:
    container_name: agent_UnityServer
    image: inzania/agent:latest
    environment:
      - MG_SHR=${MG_SHR}
      - BUILDKITE_S3_ACL=${S3_ACL:-private}
      - BUILDKITE_S3_DEFAULT_REGION=${AWS_DEFAULT_REGION:-us-east-1}
      - BUILDKITE_S3_ACCESS_KEY_ID=${AWS_ACCESS_KEY_ID}
      - BUILDKITE_S3_SECRET_ACCESS_KEY=${AWS_SECRET_ACCESS_KEY}
      - BUILDKITE_AGENT_CONFIG=/etc/buildkite-agent/buildkite-agent.cfg
      - AWS_ACCESS_KEY_ID=${AWS_ACCESS_KEY_ID}
      - AWS_SECRET_ACCESS_KEY=${AWS_SECRET_ACCESS_KEY}
      - AWS_DEFAULT_REGION=${AWS_DEFAULT_REGION:-us-east-1}
      - SMITH_TARGET=UnityServer
    volumes:
      - $HOME/.ssh:/root/ssh
      - ${MG_SHR}/builds:/buildkite/builds
      - ${MG_SHR}/smith-UnityServer:/smith
      - /var/run/docker.sock:/var/run/docker.sock
      - type: bind
        read_only: true
        source: ${MG_SHR}/.ss3/
        target: /ss3/
  agent_Android:
    container_name: agent_Android
    image: inzania/agent:latest
    environment:
      - MG_SHR=${MG_SHR}
      - BUILDKITE_S3_ACL=${S3_ACL:-private}
      - BUILDKITE_S3_DEFAULT_REGION=${AWS_DEFAULT_REGION:-us-east-1}
      - BUILDKITE_S3_ACCESS_KEY_ID=${AWS_ACCESS_KEY_ID}
      - BUILDKITE_S3_SECRET_ACCESS_KEY=${AWS_SECRET_ACCESS_KEY}
      - BUILDKITE_AGENT_CONFIG=/etc/buildkite-agent/buildkite-agent.cfg
      - AWS_ACCESS_KEY_ID=${AWS_ACCESS_KEY_ID}
      - AWS_SECRET_ACCESS_KEY=${AWS_SECRET_ACCESS_KEY}
      - AWS_DEFAULT_REGION=${AWS_DEFAULT_REGION:-us-east-1}
      - SMITH_TARGET=Android
    volumes:
      - $HOME/.ssh:/root/ssh
      - ${MG_SHR}/builds:/buildkite/builds
      - ${MG_SHR}/smith-Android:/smith
      - /var/run/docker.sock:/var/run/docker.sock
      - type: bind
        read_only: true
        source: ${MG_SHR}/.ss3/
        target: /ss3/
  agent_iOS:
    container_name: agent_iOS
    image: inzania/agent:latest
    environment:
      - MG_SHR=${MG_SHR}
      - BUILDKITE_S3_ACL=${S3_ACL:-private}
      - BUILDKITE_S3_DEFAULT_REGION=${AWS_DEFAULT_REGION:-us-east-1}
      - BUILDKITE_S3_ACCESS_KEY_ID=${AWS_ACCESS_KEY_ID}
      - BUILDKITE_S3_SECRET_ACCESS_KEY=${AWS_SECRET_ACCESS_KEY}
      - BUILDKITE_AGENT_CONFIG=/etc/buildkite-agent/buildkite-agent.cfg
      - AWS_ACCESS_KEY_ID=${AWS_ACCESS_KEY_ID}
      - AWS_SECRET_ACCESS_KEY=${AWS_SECRET_ACCESS_KEY}
      - AWS_DEFAULT_REGION=${AWS_DEFAULT_REGION:-us-east-1}
      - SMITH_TARGET=iOS
    volumes:
      - $HOME/.ssh:/root/ssh
      - ${MG_SHR}/builds:/buildkite/builds
      - ${MG_SHR}/smith-iOS:/smith
      - /var/run/docker.sock:/var/run/docker.sock
      - type: bind
        read_only: true
        source: ${MG_SHR}/.ss3/
        target: /ss3/
